<mat-card>
    <span class="searchblock">
        <span class="searchblockwrapper">
            <span>
    <mat-toolbar color="primary" style="justify-content: center; align-items: center;">
        <h2 class="headerSpan">Add User</h2>
    </mat-toolbar>
            </span>
        </span>
    </span>
    <mat-card-content>
        <form class="example-form" novalidate [formGroup]="addUpdateAnswerForm" name="addUpdateAnswerForm"
            (ngSubmit)="formSubmitFunction()" autocomplete="off">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="First Name" [formControl]="addUpdateAnswerForm.controls['firstname']"
                    (blur)="inputUntouch(addUpdateAnswerForm,'firstname')">
                <mat-error *ngIf="addUpdateAnswerForm.controls['firstname'].touched && !addUpdateAnswerForm.controls['firstname'].valid
                           && addUpdateAnswerForm.controls['firstname'].errors.required">
                           First Name field can not be blank</mat-error>
            </mat-form-field><br>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Last Name" [formControl]="addUpdateAnswerForm.controls['lastname']"
                    (blur)="inputUntouch(addUpdateAnswerForm,'lastname')">
                <mat-error *ngIf="addUpdateAnswerForm.controls['lastname'].touched && !addUpdateAnswerForm.controls['lastname'].valid
                           && addUpdateAnswerForm.controls['lastname'].errors.required">
                           Last Name field can not be blank</mat-error>
            </mat-form-field><br>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Email" [formControl]="addUpdateAnswerForm.controls['email']"
                    (blur)="inputUntouch(addUpdateAnswerForm,'email')">
                <mat-error *ngIf="addUpdateAnswerForm.controls['email'].touched && !addUpdateAnswerForm.controls['email'].valid
                           && addUpdateAnswerForm.controls['email'].errors.required">
                           Email field can not be blank</mat-error>
            </mat-form-field><br>
            <mat-form-field class="example-full-width">
                <mat-label>Select Role</mat-label>
                <mat-select [formControl]="addUpdateAnswerForm.controls['role']">
    <mat-option *ngFor="let food of roleArray" [value]="food._id">
      {{food.name}}
    </mat-option>
  </mat-select>

            </mat-form-field><br>
             
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Phone" [formControl]="addUpdateAnswerForm.controls['phone']"
                    (blur)="inputUntouch(addUpdateAnswerForm,'phone')">
                <mat-error *ngIf="addUpdateAnswerForm.controls['phone'].touched && !addUpdateAnswerForm.controls['phone'].valid
                           && addUpdateAnswerForm.controls['phone'].errors.required">
                           Phone field can not be blank</mat-error>
            </mat-form-field><br>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="City" [formControl]="addUpdateAnswerForm.controls['city']"
                    (blur)="inputUntouch(addUpdateAnswerForm,'city')">
                <mat-error *ngIf="addUpdateAnswerForm.controls['city'].touched && !addUpdateAnswerForm.controls['city'].valid
                           && addUpdateAnswerForm.controls['city'].errors.required">
                           City field can not be blank</mat-error>
            </mat-form-field><br>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="State" [formControl]="addUpdateAnswerForm.controls['state']"
                    (blur)="inputUntouch(addUpdateAnswerForm,'state')">
                <mat-error *ngIf="addUpdateAnswerForm.controls['state'].touched && !addUpdateAnswerForm.controls['state'].valid
                           && addUpdateAnswerForm.controls['state'].errors.required">
                           State field can not be blank</mat-error>
            </mat-form-field><br>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Address" [formControl]="addUpdateAnswerForm.controls['address']"
                    (blur)="inputUntouch(addUpdateAnswerForm,'address')">
                <mat-error *ngIf="addUpdateAnswerForm.controls['address'].touched && !addUpdateAnswerForm.controls['address'].valid
                           && addUpdateAnswerForm.controls['address'].errors.required">
                           Address field can not be blank</mat-error>
            </mat-form-field><br>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Date Of Joining" [formControl]="addUpdateAnswerForm.controls['doj']"
                    (blur)="inputUntouch(addUpdateAnswerForm,'doj')">
                <mat-error *ngIf="addUpdateAnswerForm.controls['doj'].touched && !addUpdateAnswerForm.controls['doj'].valid
                           && addUpdateAnswerForm.controls['doj'].errors.required">
                           Date Of Joining field can not be blank</mat-error>
            </mat-form-field><br>
            <mat-form-field class="example-full-width" *ngIf="router.url == '/admin/user-management/add'">
                <input matInput placeholder="Password" [formControl]="addUpdateAnswerForm.controls['password']"
                    (blur)="inputUntouch(addUpdateAnswerForm,'password')">
                <mat-error *ngIf="addUpdateAnswerForm.controls['password'].touched && !addUpdateAnswerForm.controls['password'].valid
                           && addUpdateAnswerForm.controls['password'].errors.required">
                           Password field can not be blank</mat-error>
            </mat-form-field><br>
            <mat-form-field class="example-full-width" *ngIf="router.url == '/admin/user-management/add'">
                <input matInput placeholder="Confirm Password" [formControl]="addUpdateAnswerForm.controls['confirmpassword']"
                    (blur)="inputUntouch(addUpdateAnswerForm,'confirmpassword')">
                <mat-error *ngIf="addUpdateAnswerForm.controls['confirmpassword'].touched && !addUpdateAnswerForm.controls['confirmpassword'].valid
                           && addUpdateAnswerForm.controls['confirmpassword'].errors.required">
                           Confirm Password field can not be blank</mat-error>
            </mat-form-field><br>
        
            <!-- <mat-checkbox [formControl]="addUpdateAnswerForm.controls['isCorrect']">Is it correct?</mat-checkbox> -->
           
            <button mat-raised-button color="primary" mat-button class="submitbtn" type="submit">Submit</button>
        </form>
    </mat-card-content>
</mat-card>
